.news_button {
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 190px;
    width: 190px;
    height: 51px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    background-color: blue;
}

.news_content {
    height: 246px;
    margin: 77px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_content1 {
    width: 555px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_content1 img {
    width: 254px;
    height: 241px;
    margin-right: 30px;
}

.news_content2 {
    height: 255px;
    width: 280px;
    padding-left: 45px;

}

.news_content2 h4 {
    margin-bottom: 20px;
}

.news_content2 img {
    width: 128px;
    height: 115px;

    margin-right: 25px;
}

.logo_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.news_content h4 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.news_content p {
    margin-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.time {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: right;
}

.news_text a {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-decoration-line: underline;
}